<h1><%=@book.title%></h1>
<div class="seller_info">
  <h3>Seller Info:</h3>
  <ul>
    <li>Seller: <%=@book.user.username%></li>
    <li>Email: <%=@book.user.email%></li>
  </ul>
</div>
<div class="book_info">
  <h3>Book Info:</h3>
  <ul>
    <li>Author: <%=@book.author%></li>
    <li>Copyright: <%=@book.copyright%></li>
    <li>Description: <%=@book.description%></li>
    <li>Price: $<%="%.02f" % @book.price%></li>
    <li>Availability: <%=@book.availability%></li>
  </ul>
</div>
<form action="/books/<%=@book.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Book">
</form>
